@font-face {
  font-family: "ABC Social Mono";
  src: url("./fonts/ABC Social/ABCSocialMono-Book.woff");
}

@font-face {
  font-family: "ABC Social Condensed";
  src: url("./fonts/ABC Social/ABCSocialCondensed-Black.woff");
}

@font-face {
  font-family: "ABC Social Regular";
  src: url("./fonts/ABC Social/ABCSocial-Regular.woff");
}

body {
  margin: 0;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: "ABC Social Mono";
  overscroll-behavior: contain;
  height: 100vh;
  overflow: hidden;
}

body.allowScroll {
  height: auto;
  overflow: auto;
}

#titleContainer {
  width: 100vw;
  height: 100vh;
}

#titleVideoContainer > * {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

@keyframes titleTextAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#titleText {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: titleTextAnim 3s both;
  animation-delay: 3s;
}

#titleTextBlur {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* visibility: hidden; */

  backdrop-filter: blur(10px) saturate(150%);
  -webkit-mask-image: url(./images/allAccessMask.svg);
  mask-image: url(./images/allAccessMask.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.imageGalleryContainer {
  width: 100vw;
  position: relative;
  height: 100vh;
  pointer-events: none;
  background-color: transparent;
}

#mainContent {
  position: relative;
  background-color: black;
}

#mainContentFirst {
  font-size: max(24px, 4.44vw);

  line-height: max(32.5px, 5.55vw);
  text-align: center;
  letter-spacing: 0.01em;

  box-sizing: border-box;
  padding: 128px 5vw;
}

.caption {
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.005em;
  padding-top: 10px;
  box-sizing: border-box;
  padding: 10px 48px;
}

#mainContentInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#storiesSection {
  color: #ffe512;
  background-color: black;
  text-align: center;
  padding: 4rem 0;
}
#storiesBackgrounds > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.61;
  visibility: hidden;
}
@media only screen and (min-width: 782px) {
  #storiesBackgrounds > img {
    width: auto;
    height: 50%;
    opacity: 1;
  }
  #storiesBackgrounds > img:nth-child(1) {
    top: 20%;
    left: 20%;
  }
  #storiesBackgrounds > img:nth-child(2) {
    top: 40%;
    left: 60%;
  }
  #storiesBackgrounds > img:nth-child(3) {
    top: 40%;
    left: 20%;
  }
  #storiesBackgrounds > img:nth-child(4) {
    top: 20%;
    left: 60%;
  }
}
#storiesBackgrounds > img.show {
  visibility: visible;
}
#storiesSection > h5 {
  font-size: 24px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 16px 16px;
  text-align: center;
  letter-spacing: 0.005em;
  line-height: 27.5px;
}
#storiesSection a {
  color: transparent;
  text-shadow: 0 0 8px #ffe512;
  transition: text-shadow 0.3s;
  font-size: 40px;
  padding: 36px 0px;
  display: block;
  letter-spacing: -0.02em;
  line-height: 0.9375em;
}
#storiesSection a:hover,
#storiesSection a.hover {
  text-shadow: 0 0 0px #ffe512;
}
#storiesSection a > div:nth-child(1) {
  font-family: "ABC Social Condensed";
  text-transform: uppercase;
}
#storiesSection a > div:nth-child(2) {
  font-family: "ABC Social Mono";
}

#horizontalScroller {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 30px;
  line-height: 48.5px;
  letter-spacing: 0.005em;
  font-family: "ABC Social Condensed";
  text-transform: uppercase;
  background-color: #ffe512;
  color: black;
}
#horizontalScroller span > span {
  padding-left: 16px;
}

#tiktokSection {
  position: relative;
  background-color: black;
  min-height: 100vh;
}
#tiktoksContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.7s;
}
#tiktoksContainerWrapper {
  width: 100vw;
  overflow: hidden;
}
.tiktokContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100vw;
  position: relative;
}
.tiktokBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.61;
}
.tiktok {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 64px;
  box-sizing: border-box;
  padding: 0 6rem;
}
.tiktokArrow {
  width: 5vw;
  cursor: pointer;
  min-width: 40px;
  max-width: 70px;
  margin: 0 1rem;
  z-index: 99;
  position: absolute;
}
.tiktokLeftArrow {
  left: 0;
}
.tiktokRightArrow {
  right: 0;
}
.tiktokTitleContainer {
  font-family: "ABC Social Condensed";
  color: #ffe512;
  width: 360px;
  position: relative;
}
.titokTitleLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.titokTitleRight {
  position: absolute;
  top: 0;
  right: 0;
}
.titokTitleTitle {
  padding-top: 64px;
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 0.8em;
}
.titokTitleTitle.smaller {
  font-size: 50px;
}
.titokTitleTitle > div {
  width: 100%;
}
.titokTitleTitle > div:nth-child(1) {
  text-align: right;
}
.titokTitleTitle > div:nth-child(3) {
  text-align: center;
}
.titokTitleTitle > div:nth-child(6) {
  text-align: center;
}
.tiktokVideoContainer {
}
.tiktokVideoContainer #embed-video-container {
  background-color: transparent;
}
.tiktokVideoContainer #embed-video-container > div {
  background-color: #fff;
}

.titokTitleLocation {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 0;
}
section {
  z-index: 1;
  position: relative;
}
#imageGalleryBehind {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
}
.arrowUp {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: all;
}

.arrowDown {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: all;
}

@keyframes loader-color {
  from {
    background-color: #ffe512;
  }
  to {
    background-color: rgb(255 255 255 / 0.3);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 33px;
  left: 50%;

  transform: translateX(-50%);
  transition: opacity 0.5s;
}
.lds-ellipsis.fade-out {
  opacity: 0;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffe512;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#titleTextBlur {
  width: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* visibility: hidden; */

  backdrop-filter: blur(10px) saturate(100%);
  -webkit-mask-image: url(./images/allAccessMask.svg);
  mask-image: url(./images/allAccessMask.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;

  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
#titleArrow {
  opacity: 0;
  width: 78px;
  transition: opacity 0.6s;
  transition-delay: 0.3s;
  cursor: pointer;
  pointer-events: none;
}
#titleArrow.fade-in {
  opacity: 1;
  pointer-events: all;
}
